#conjunt_po{
  height: 100px;
  width:100px;
  animation: horizontal 2s alternate infinite linear;
}
@keyframes horizontal {
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(1000px, 0);
  }
}


#pilota{
 width: 100px;
 height: 100px;
 background: red;
 background:radial-gradient(#8C0505,red);
  
 border: 1px solid black;
 border-radius: 50%;
 z-index:2; 
 animation: moviment 1s alternate infinite ease-in;
}

@keyframes moviment {
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(0px, 260px);
  }
}


#ombra{
 width: 90px;
 height: 40px;
 background-color: black;
 border: 1px solid black;
 border-radius: 50%;
 top:255px;
 position: relative;
   animation: ombra 1s alternate infinite ease-in;
}

@keyframes ombra{
   0%{
    transform: scale(0.3); opacity:0.5;
  }
  100%{
    transform: scale(1) ;opacity:0.8;
  }
}
#terra{
 width: 100%;
 height: 350px;
 background-color: orange;
 border: 1px solid black;
margin-top:255px;
}